* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    background-color: lightskyblue;
}

.header {
    background-color: lightblue;
}

.task-block {
    border: 3px solid black;
    margin: 8px;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    background-color: lightblue;
}

dialog {
    justify-self: center;
    align-self: center;
    background-color: lightsteelblue;
}

#task-card {
    width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#new-task-card {
    display: grid;
    grid-template-columns: auto auto;
}

#card-title {
    grid-column: 1/3;
    justify-self: center;
}

#card-desc {
    grid-column: 1/3;
}

#card-notes {
    grid-column: 1/3;
}

#card-check {
    grid-column: 1/3;
}

#task-buttons {
    grid-column: 1/3;
}