/*--------------------*/
/* GLOBAL DEFINITIONS */
/*--------------------*/

:root {
    --gray0: #fcfcfd;
    --gray1: #f5f5fa;
    --gray2: #d6d6e7;
    --gray3: #b6b7d5;
    --gray4: #9698c3;
    --gray5: #777aaf;
    --gray6: #5a5e9a;
    --gray7: #484c7a;
    --gray8: #36395a;
    --gray9: #23263b;

    --red0: #ee243c;
    --red1: #d4142a;
    --red2: #ab1325;

    --yellow0: #FCD34D;
    --yellow1: #FBBF24;
    --yellow2: #F59E0B;

    --green0: #238636;
    --green1: #196c2e;
    --green2: #0f5323;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 8em auto;
    background-color: var(--gray2);
}

button {
    cursor: pointer;
}

option {
    appearance: none;
}
option#pri-high {
    color: red;
}
option#pri-med {
    color: orange;
}
option#pri-low {
    color: green;
}

.overdue {
    color: red;
}

/*----------------*/
/* MAIN INTERFACE */
/*----------------*/

.sidebar {
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: var(--gray0);
    display: grid;
    grid-template-rows: 3rem 3rem auto;
    gap: 1rem;
    z-index: 1;
    box-shadow: 3px 0px 5px;
}

.logo-area {
    align-self: flex-start;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0 1em;
    gap: 0.5rem;
    > h1 {
        font-size: 2.5rem;
    }
    > img {
        height: 3rem;
    }
}

#button-new-project {
    justify-self: center;
    background-color: var(--gray7);
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    border-radius: 1em / 2em;
}

#project-list {
    justify-self: center;
    list-style-type: none;
    margin-bottom: 1rem;
    padding: 0;
    background-color: var(--gray2);
    width: 80%;
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto;
    align-content: start;
    gap: 16px;
    padding: 16px 8px;
    border-radius: 1em;
    box-shadow: 2px 3px 3px inset;
    > li {
        height: 2.5rem;
        padding: 0.5rem;
        display: grid;
        grid-template-columns: auto 2em 2em;
        align-content: center;
        gap: 1rem;
        padding: 0 12px;
        background-color: var(--gray1);
        border-radius: 1em / 2em;
        box-shadow: 2px 3px 3px, 0px 2px var(--gray0) inset;
        outline: 1px solid black;
        > .project-select {
            width: 100%;
            font-size: 1.2rem;
            font-weight: bold;
            background-color: transparent;
            border: none;
            justify-self: left;
            text-align: left;
            padding: 0;
        }
        > .project-edit {
            background-image: url("./assets/images/edit.svg");
            background-repeat: no-repeat;
            background-position: center;
            height: 2rem;
            width: 2rem;
            border-radius: 0.5em;
        }
        > .project-delete {
            background-image: url("./assets/images/delete.svg");
            background-repeat: no-repeat;
            background-position: center;
            height: 2rem;
            width: 2rem;
            border-radius: 0.5em;
        }
    }
}

.header {
    background-color: var(--gray1);
    padding: 0 1rem 1rem 1rem;
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 3rem 3rem;
    justify-content: start;
    align-content: end;
    row-gap: 0.4rem;
    box-shadow: 3px 5px 5px;
    > button {
        justify-self: center;
        background-color: var(--gray7);
        color: white;
        font-size: 1.2rem;
        font-weight: bold;
        padding: 0.2rem 1.3rem;
        border-radius: 1em / 2em;
        &:disabled {
            visibility: hidden;
        }
    }
}

#content {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto;
    align-content: start;
    padding: 16px;
    gap: 16px;
}

.task-block {
    border-radius: 2rem / 4rem;
    box-shadow: 3px 5px 5px, 0px 3px white inset;
    outline: 1px solid black;
    display: grid;
    grid-template-columns: 80px 1fr 1fr 1fr 80px;
    grid-template-rows: auto auto auto;
    justify-items: center;
    gap: 0.5rem;
    background-color: var(--gray0);
    cursor: pointer;
    &.completed {
        background-image: linear-gradient(var(--gray0), var(--gray0) 5%, var(--gray1) 10%, var(--gray1) 90%, var(--gray0) 95%);
    }
    > .block-priority {
        grid-column: 1/2;
        grid-row: 1/4;
        height: 100%;
        width: 100%;
        border-top-left-radius: 2rem 4rem;
        border-bottom-left-radius: 2rem 4rem;
        &.block-priority-low {
            background-color: var(--green1);
            box-shadow: 0px 3px var(--green0) inset;
            &.completed {
                background-image: linear-gradient(var(--green1), var(--green1) 5%, var(--green2) 10%, var(--green2) 90%, var(--green1) 95%);
            }
        }
        &.block-priority-medium {
            background-color: var(--yellow1);
            box-shadow: 0px 3px var(--yellow0) inset;
            &.completed {
                background-image: linear-gradient(var(--yellow1), var(--yellow1) 5%, var(--yellow2) 10%, var(--yellow2) 90%, var(--yellow1) 95%);
            }
        }
        &.block-priority-high {
            background-color: var(--red1);
            box-shadow: 0px 3px var(--red0) inset;
            &.completed {
                background-image: linear-gradient(var(--red1), var(--red1) 5%, var(--red2) 10%, var(--red2) 90%, var(--red1) 95%);
            }
        }
    }
    > .block-title {
        grid-column: 2/5;
    }
    > p {
        font-weight: bold;
    }
    > .block-date {
        grid-row: 2/3;
        grid-column: 3/4;
    }
    > .check-complete {
        grid-row: 1/4;
        grid-column: 5/6;
        justify-self: left;
        align-self: center;
        appearance: none;
        border: 2px solid black;
        height: 2rem;
        width: 2rem;
        background-color: white;
        border-radius: 0.5em;
        &:checked {
            background-color: lightblue;
            background-image: url("./assets/images/confirm.svg");
        }
        &:hover {
            background-color: lightgray;
        }
    }
    > .block-buttons {
        grid-column: 3/4;
        grid-row: 3/4;
        width: 100%;
        margin: 0.5rem;
        display: flex;
        justify-content: space-evenly;
        > button {
            background-repeat: no-repeat;
            background-position: center;
            height: 2rem;
            width: 2rem;
            border-radius: 0.5em;
        }
        > .block-button-edit {
            background-image: url("./assets/images/edit.svg");
        }
        > .block-button-delete {
            background-image: url("./assets/images/delete.svg");
        }
    }
}

/*----------------*/
/* DIALOG WINDOWS */
/*----------------*/

dialog {
    justify-self: center;
    align-self: center;
    padding: 0;
    background-color: var(--gray0);
    border-radius: 16px;
}

#task-card {
    width: 800px;
    display: grid;
    grid-template-columns: 48px auto 48px;
    grid-template-rows: repeat(6, auto);
    justify-items: center;
    > #card-title {
        width: 100%;
        text-align: center;
        background-color: white;
        grid-column: 1/4;
        grid-row: 1/2;
        &.task-title-high {
            background-color: var(--red1);
        }
        &.task-title-medium {
            background-color: var(--yellow1);
        }
        &.task-title-low {
            background-color: var(--green1);
        }
    }
    > #card-date {
        grid-column: 2/3;
        font-weight: bold;
    }
    > #card-priority {
        grid-column: 2/3;
        font-weight: bold;
    }
    > #card-notes {
        background-color: lightgrey;
        width: calc(100% - 32px);
        grid-column: 1/4;
        min-height: 5rem;
        padding: 0 6px;
        box-shadow: 2px 3px 3px inset;
    }
    > #card-complete {
        grid-column: 2/3;
        display: flex;
        align-items: center;
        margin: 0.5rem;
        gap: 0.5rem;
        font-weight: bold;
        > #card-check {
            appearance: none;
            border: 2px solid black;
            height: 2rem;
            width: 2rem;
            background-color: white;
            border-radius: 0.5em;
            &:checked {
                background-color: lightblue;
                background-image: url("./assets/images/confirm.svg");
            }
            &:hover {
                background-color: lightgray;
            }
        }
    }
    > #button-close-task {
        grid-column: 3/4;
        grid-row: 1/2;
        width: 32px;
        height: 32px;
        align-self: center;
        background-color: transparent;
        background-image: url("./assets/images/cancel.svg");
        background-repeat: no-repeat;
        background-position: center;
        border: none;
    }
}

#new-project-card {
    width: 500px;
    display: grid;
    grid-template-columns: 48px auto 48px;
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    gap: 0.5em;
    > #new-project-title {
        width: 100%;
        text-align: center;
        background-color: var(--gray6);
        grid-column: 1/4;
        grid-row: 1/2;
    }
    > #new-project-name-field {
        grid-column: 2/3;
        grid-row: 2/3;
        > label {
            font-weight: bold;
        }
    }
    > #new-project-submit {
        grid-column: 2/3;
        grid-row: 3/4;
        background-image: url("./assets/images/confirm.svg");
        background-repeat: no-repeat;
        background-position: center;
        height: 2rem;
        width: 2rem;
        margin-bottom: 0.5em;
        border-radius: 0.5em;
    }
    > #new-project-cancel {
        grid-column: 3/4;
        grid-row: 1/2;
        width: 32px;
        height: 32px;
        align-self: center;
        background-color: transparent;
        background-image: url("./assets/images/cancel.svg");
        background-repeat: no-repeat;
        background-position: center;
        border: none;
    }
}

#rename-project-card {
    width: 500px;
    display: grid;
    grid-template-columns: 48px auto 48px;
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    gap: 0.5em;
    > #rename-project-title {
        width: 100%;
        text-align: center;
        background-color: var(--gray6);
        grid-column: 1/4;
        grid-row: 1/2;
    }
    > #rename-project-name-field {
        grid-column: 2/3;
        grid-row: 2/3;
        > label {
            font-weight: bold;
        }
    }
    > #rename-project-submit {
        grid-column: 2/3;
        grid-row: 3/4;
        background-image: url("./assets/images/confirm.svg");
        background-repeat: no-repeat;
        background-position: center;
        height: 2em;
        width: 2em;
        border-radius: 0.5em;
        margin-bottom: 0.5em;
    }
    > #rename-project-cancel {
        grid-column: 3/4;
        grid-row: 1/2;
        width: 32px;
        height: 32px;
        align-self: center;
        background-color: transparent;
        background-image: url("./assets/images/cancel.svg");
        background-repeat: no-repeat;
        background-position: center;
        border: none;
    }
}

#delete-project-card {
    width: 500px;
    display: grid;
    grid-template-columns: 48px auto 48px;
    grid-template-rows: repeat(4, auto);
    justify-items: center;
    gap: 0.5em;
    > #delete-project-title {
        width: 100%;
        text-align: center;
        background-color: var(--gray6);
        grid-column: 1/4;
        grid-row: 1/2;
    }
    > #delete-project-blurb {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    > #delete-project-question {
        grid-column: 2/3;
        grid-row: 3/4;
    }
    > #delete-project-buttons {
        grid-column: 2/3;
        grid-row: 4/5;
        > #delete-project-confirm {
            background-image: url("./assets/images/confirm.svg");
            background-repeat: no-repeat;
            background-position: center;
            height: 2em;
            width: 2em;
            border-radius: 0.5em;
            margin-bottom: 0.5em;
        }
        > #delete-project-cancel {
            background-image: url("./assets/images/cancel.svg");
            background-repeat: no-repeat;
            background-position: center;
            height: 2em;
            width: 2em;
            border-radius: 0.5em;
            margin-bottom: 0.5em;
        }
    }
    > #delete-project-close {
        grid-column: 3/4;
        grid-row: 1/2;
        width: 32px;
        height: 32px;
        align-self: center;
        background-color: transparent;
        background-image: url("./assets/images/cancel.svg");
        background-repeat: no-repeat;
        background-position: center;
        border: none;
    }
}

#new-task-card {
    width: 800px;
    display: grid;
    grid-template-columns: 48px 6rem auto 48px;
    grid-template-rows: repeat(6, auto);
    gap: 0.5em;
    > #new-task-title {
        grid-column: 1/5;
        grid-row: 1/2;
        text-align: center;
        background-color: var(--gray6);
    }
    > label {
        grid-column: 2/3;
        font-weight: bold;
        align-self: center;
    }
    > input {
        grid-column: 3/4;
    }
    > #new-task-submit {
        grid-column: 2/4;
        grid-row: 6/7;
        justify-self: center;
        background-image: url("./assets/images/confirm.svg");
        background-repeat: no-repeat;
        background-position: center;
        height: 2em;
        width: 2em;
        margin-bottom: 0.5em;
        border-radius: 0.5em;
    }
    > #new-task-cancel {
        grid-column: 4/5;
        grid-row: 1/2;
        width: 32px;
        height: 32px;
        align-self: center;
        background-color: transparent;
        background-image: url("./assets/images/cancel.svg");
        background-repeat: no-repeat;
        background-position: center;
        border: none;
    }
}

#edit-task-card {
    width: 800px;
    display: grid;
    grid-template-columns: 48px 6rem auto 48px;
    grid-template-rows: repeat(6, auto);
    gap: 0.5em;
    > #edit-task-title {
        grid-column: 1/5;
        grid-row: 1/2;
        text-align: center;
        background-color: var(--gray6);
    }
    > label {
        grid-column: 2/3;
        font-weight: bold;
        align-self: center;
    }
    > input {
        grid-column: 3/4;
    }
    > #edit-task-submit {
        grid-column: 2/4;
        grid-row: 6/7;
        justify-self: center;
        background-image: url("./assets/images/confirm.svg");
        background-repeat: no-repeat;
        background-position: center;
        height: 2em;
        width: 2em;
        margin-bottom: 0.5em;
        border-radius: 0.5em;
    }
    > #edit-task-cancel {
        grid-column: 4/5;
        grid-row: 1/2;
        width: 32px;
        height: 32px;
        align-self: center;
        background-color: transparent;
        background-image: url("./assets/images/cancel.svg");
        background-repeat: no-repeat;
        background-position: center;
        border: none;
    }
}

#delete-task-card {
    width: 500px;
    display: grid;
    grid-template-columns: 48px auto 48px;
    grid-template-rows: repeat(4, auto);
    justify-items: center;
    gap: 0.5em;
    > #delete-task-title {
        width: 100%;
        text-align: center;
        background-color: var(--gray6);
        grid-column: 1/4;
        grid-row: 1/2;
    }
    > #delete-task-blurb {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    > #delete-task-question {
        grid-column: 2/3;
        grid-row: 3/4;
    }
    > #delete-task-buttons {
        grid-column: 2/3;
        grid-row: 4/5;
        > #delete-task-confirm {
            background-image: url("./assets/images/confirm.svg");
            background-repeat: no-repeat;
            background-position: center;
            height: 2em;
            width: 2em;
            border-radius: 0.5em;
            margin-bottom: 0.5em;
        }
        > #delete-task-cancel {
            background-image: url("./assets/images/cancel.svg");
            background-repeat: no-repeat;
            background-position: center;
            height: 2em;
            width: 2em;
            border-radius: 0.5em;
            margin-bottom: 0.5em;
        }
    }
    > #delete-task-close {
        grid-column: 3/4;
        grid-row: 1/2;
        width: 32px;
        height: 32px;
        align-self: center;
        background-color: transparent;
        background-image: url("./assets/images/cancel.svg");
        background-repeat: no-repeat;
        background-position: center;
        border: none;
    }
}